body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0d0d0d;
  color: white;
  font-family: sans-serif;
}

.level-container {
  text-align: center;
}

.buttons button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #39813a;
  color: white;
  border: none;
  border-radius: 8px;
}

.buttons button:hover {
  background-color: #2e6b30;
}
