/* === Estrutura principal === */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px 20px 50px;
  background: url("/src/assets/image/game/bg-game.png") center/cover no-repeat;
}

/* === Cabeçalho === */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.747);
  font-size: 1.2em;
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

/* === Grid geral e níveis === */
.grid {
  display: grid;
  gap: 15px;
  width: 100%;
  margin: 0 auto;
}

.grid.facil {
  grid-template-columns: repeat(3, 1fr);
  max-width: 550px;
}

.grid.medio {
  grid-template-columns: repeat(6, 1fr);
  max-width: 1100px;
}

.grid.dificil {
  grid-template-columns: repeat(9, 1fr);
  max-width: 1500px;
}

.grid.dificil .card {
  aspect-ratio: 6/10;
  width: 132px;
}

.grid.dificil .face {
  transform: scale(1.05);
}

/* === Cartas === */
.card {
  width: 100%;
  aspect-ratio: 3/4;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #39813a;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url("../../assets/image/cards/verso-card-03.png");
  backface-visibility: hidden;
}

/* === Estados de jogo === */
.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

/* === Modal === */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background: #fff;
  padding: 50px;
  font-size: 1.4em;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  max-width: 500px;
}

.modal-buttons {
  display: flex;
  gap: 5px;
  margin-top: 40px;
}

.modal-buttons button {
  flex: 1;
  padding: 10px;
  font-size: 0.8em;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  background-color: #4ab16e;
  color: #000;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #2f6a2e;
}
